<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkGNK9k4StxJ35DW3DDTSo93PVd37Y1zc</string>
	<key>GCM_SENDER_ID</key>
	<string>756030678429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mynews.myNews</string>
	<key>PROJECT_ID</key>
	<string>news-8b76c</string>
	<key>STORAGE_BUCKET</key>
	<string>news-8b76c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756030678429:ios:d049619abece1d8efa3b74</string>
</dict>
</plist>